In [1]:
import numpy as np
import pandas as pd
from datetime import datetime, timedelta

In [2]:
pd.read_parquet("/home/trung/Downloads/cleaned_movies.parquet")

Empty DataFrame
Columns: [belongs_to_collection, budget, genres, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, release_date, revenue, runtime, spoken_languages, status, tagline, title, vote_average, vote_count]
Index: []

In [2]:
credits=pd.read_csv('archive/credits.csv').sort_values(by='id')

In [3]:
keywords=pd.read_csv('archive/keywords.csv').sort_values(by='id')

In [4]:
links=pd.read_csv('archive/links.csv')

In [5]:
movies=pd.read_csv('archive/movies.csv')

/tmp/ipykernel_4912/1322067669.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  movies=pd.read_csv('archive/movies.csv')

In [6]:
ratings=pd.read_csv('archive/ratings.csv')

CREDITS

In [7]:
print(credits.duplicated().sum(),'duplicates in credits')
credits.drop_duplicates(inplace=True)
print(credits.shape)

37 duplicates in credits
(45439, 3)

In [7]:
credits[(credits['crew']=='[]') & (credits['cast']=='[]')].count()

cast    421
crew    421
id      421
dtype: int64

In [9]:
credits.to_csv('preprocess/credits.csv',index=False)

KEYWORDS

In [8]:
print(keywords.duplicated().sum(), "keywords duplicated")
keywords.drop_duplicates(inplace=True)
print(keywords.shape)

987 keywords duplicated
(45432, 2)

In [10]:
keywords[keywords['keywords']=="[]"]

           id keywords
1326      157       []
43537     286       []
26719    1260       []
3317     1496       []
28986    1615       []
...       ...      ...
46153  464111       []
46031  465044       []
46226  467731       []
21890  468343       []
20188  469172       []

[14340 rows x 2 columns]

In [12]:
keywords.to_csv('preprocess/keywords.csv',index=False)

LINKS

In [13]:
print(links.duplicated().sum(), "links duplicated")
links.drop_duplicates(inplace=True)
print(links.shape)

0 links duplicated
(45843, 3)

In [14]:
links.isnull().sum()

movieId      0
imdbId       0
tmdbId     219
dtype: int64

In [15]:
links.to_csv('preprocess/links.csv',index=False)

RATINGS

In [11]:
print(ratings.duplicated().sum(), "ratings duplicated")
ratings.drop_duplicates(inplace=True)
print(ratings.shape)

0 ratings duplicated
(26024289, 4)

In [17]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [18]:
def change_datetime(total_seconds):
    # Tạo một đối tượng timedelta từ tổng số giây
    time_delta = timedelta(seconds=total_seconds)

    # Tạo một đối tượng datetime bắt đầu từ năm 1995
    start_date = datetime(1970, 1, 1)

    # Thêm timedelta vào start_date để tính ngày và giờ mới
    result_date = start_date + time_delta
    return result_date

In [19]:
ratings['timestamp']=ratings['timestamp'].apply(change_datetime)

In [20]:
ratings['timestamp']

0          2015-03-09 22:52:09
1          2015-03-09 23:07:15
2          2015-03-09 22:52:03
3          2015-03-09 22:52:26
4          2015-03-09 22:52:36
                   ...
26024284   2009-10-31 23:26:04
26024285   2009-10-31 23:33:52
26024286   2009-10-31 23:29:24
26024287   2009-11-01 00:06:30
26024288   2009-10-31 23:30:58
Name: timestamp, Length: 26024289, dtype: datetime64[ns]

In [21]:
ratings.to_csv('preprocess/ratings.csv',index=False)

MOVIES

In [22]:
print(movies.duplicated().sum(), "movies duplicated")
movies.drop_duplicates(inplace=True)
print(movies.shape)

13 movies duplicated
(45453, 20)

In [12]:
movies.isnull().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

In [23]:
movies['original_language'].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo',
       'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt',
       '82.0', 'hy', 'iu', 'lb', 'si'], dtype=object)

In [25]:
movies.drop(temp.index,inplace=True)

In [26]:
movies.to_csv('preprocess/movies.csv',index=False)