In [1]:
import numpy as np
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime, timedelta

In [6]:
credits=pd.read_csv('preprocess/credits.csv').sort_values(by='id')
credits.shape

(45439, 3)

In [7]:
keywords=pd.read_csv('preprocess/keywords.csv').sort_values(by='id')
keywords.shape

(45432, 2)

In [8]:
links=pd.read_csv('preprocess/links.csv')
links.shape

(45843, 3)

In [9]:
movies=pd.read_csv('preprocess/movies.csv')
movies.shape

(45450, 20)

In [6]:
ratings=pd.read_csv('preprocess/ratings.csv')
ratings.shape

CREDITS

In [7]:
print(credits.duplicated().sum(),'duplicates in credits')
credits.drop_duplicates(inplace=True)
print(credits.shape)

37 duplicates in credits
(45439, 3)

In [7]:
credits[(credits['crew']=='[]') & (credits['cast']=='[]')].count()

cast    421
crew    421
id      421
dtype: int64

KEYWORDS

In [8]:
print(keywords.duplicated().sum(), "keywords duplicated")
print(keywords.shape)

987 keywords duplicated
(45432, 2)

In [10]:
keywords[keywords['keywords']=="[]"]

           id keywords
1326      157       []
43537     286       []
26719    1260       []
3317     1496       []
28986    1615       []
...       ...      ...
46153  464111       []
46031  465044       []
46226  467731       []
21890  468343       []
20188  469172       []

[14340 rows x 2 columns]

LINKS

In [13]:
print(links.duplicated().sum(), "links duplicated")
print(links.shape)

0 links duplicated
(45843, 3)

In [14]:
links.isnull().sum()

movieId      0
imdbId       0
tmdbId     219
dtype: int64

RATINGS

In [11]:
print(ratings.duplicated().sum(), "ratings duplicated")
print(ratings.shape)

0 ratings duplicated
(26024289, 4)

In [17]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

MOVIES

In [22]:
print(movies.duplicated().sum(), "movies duplicated")
movies.drop_duplicates(inplace=True)
print(movies.shape)

13 movies duplicated
(45453, 20)

In [12]:
movies.isnull().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

In [23]:
movies['original_language'].unique()

array(['en', 'fr', 'zh', 'it', 'fa', 'nl', 'de', 'cn', 'ar', 'es', 'ru',
       'sv', 'ja', 'ko', 'sr', 'bn', 'he', 'pt', 'wo', 'ro', 'hu', 'cy',
       'vi', 'cs', 'da', 'no', 'nb', 'pl', 'el', 'sh', 'xx', 'mk', 'bo',
       'ca', 'fi', 'th', 'sk', 'bs', 'hi', 'tr', 'is', 'ps', 'ab', 'eo',
       'ka', 'mn', 'bm', 'zu', 'uk', 'af', 'la', 'et', 'ku', 'fy', 'lv',
       'ta', 'sl', 'tl', 'ur', 'rw', 'id', 'bg', 'mr', 'lt', 'kk', 'ms',
       'sq', nan, '104.0', 'qu', 'te', 'am', 'jv', 'tg', 'ml', 'hr', 'lo',
       'ay', 'kn', 'eu', 'ne', 'pa', 'ky', 'gl', '68.0', 'uz', 'sm', 'mt',
       '82.0', 'hy', 'iu', 'lb', 'si'], dtype=object)

In [25]:
movies.drop(temp.index,inplace=True)