In [23]:
import numpy as np
import pandas as pd
import pyspark.sql as sp
import spark

ModuleNotFoundError: No module named 'spark'

In [27]:
people = pyspark.sql.SparkSession.createDataFrame([
    {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
    {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
    {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
    {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
])

TypeError: createDataFrame() missing 1 required positional argument: 'data'

In [2]:
md = pd.read_csv('movies_metadata.csv', dtype={10: str})

In [13]:
import pandas as pd
from ast import literal_eval
 
df = pd.read_csv('credits.csv')
df['cast'] = df.cast.apply(literal_eval)
df.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': 'Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [17]:
import pandas as pd

# Assuming df is your DataFrame

# Extract the 'cast' column from the first row and convert it to a DataFrame
cast_data = pd.DataFrame(df.loc[0, 'cast'])

# Create a DataFrame with the 'id' value from the first row
id_data = pd.DataFrame({'id': [df.loc[0, 'id']]})

# Concatenate the two DataFrames vertically (along rows)
result = pd.concat([id_data,cast_data], axis=1)

print(result)

       id  cast_id                character                 credit_id  gender  \
0   862.0       14            Woody (voice)  52fe4284c3a36847f8024f95       2
1     NaN       15   Buzz Lightyear (voice)  52fe4284c3a36847f8024f99       2
2     NaN       16  Mr. Potato Head (voice)  52fe4284c3a36847f8024f9d       2
3     NaN       17       Slinky Dog (voice)  52fe4284c3a36847f8024fa1       2
4     NaN       18              Rex (voice)  52fe4284c3a36847f8024fa5       2
5     NaN       19             Hamm (voice)  52fe4284c3a36847f8024fa9       2
6     NaN       20          Bo Peep (voice)  52fe4284c3a36847f8024fad       1
7     NaN       26             Andy (voice)  52fe4284c3a36847f8024fc1       0
8     NaN       22              Sid (voice)  52fe4284c3a36847f8024fb1       2
9     NaN       23       Mrs. Davis (voice)  52fe4284c3a36847f8024fb5       1
10    NaN       24         Sergeant (voice)  52fe4284c3a36847f8024fb9       2
11    NaN       25           Hannah (voice)  52fe4284c3a36847f8024fbd       1
12    NaN       27     TV Announcer (voice)  52fe4284c3a36847f8024fc5       2

         id               name  order                      profile_path
0        31          Tom Hanks      0  /pQFoyx7rp09CJTAb932F2g8Nlho.jpg
1     12898          Tim Allen      1  /uX2xVf6pMmPepxnvFWyBtjexzgY.jpg
2      7167        Don Rickles      2  /h5BcaDMPRVLHLDzbQavec4xfSdt.jpg
3     12899         Jim Varney      3  /eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg
4     12900      Wallace Shawn      4  /oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg
5      7907  John Ratzenberger      5  /yGechiKWL6TJDfVE2KPSJYqdMsY.jpg
6      8873        Annie Potts      6  /eryXT84RL41jHSJcMy4kS3u9y6w.jpg
7   1116442        John Morris      7  /vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg
8     12901    Erik von Detten      8  /twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg
9     12133     Laurie Metcalf      9  /unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg
10     8655       R. Lee Ermey     10  /r8GBqFBjypLUP9VVqDqfZ7wYbSs.jpg
11    12903      Sarah Freeman     11                              None
12    37221      Penn Jillette     12  /zmAaXUdx12NRsssgHbk1T31j2x9.jpg

In [18]:
cast_data['id_mv'] = df.loc[0, 'id']

In [19]:
cast_data.head()

,cast_id,character,credit_id,gender,id,name,order,profile_path,id_mv
0,14,Woody (voice),52fe4284c3a36847f8024f95,2,31,Tom Hanks,0,/pQFoyx7rp09CJTAb932F2g8Nlho.jpg,862
1,15,Buzz Lightyear (voice),52fe4284c3a36847f8024f99,2,12898,Tim Allen,1,/uX2xVf6pMmPepxnvFWyBtjexzgY.jpg,862
2,16,Mr. Potato Head (voice),52fe4284c3a36847f8024f9d,2,7167,Don Rickles,2,/h5BcaDMPRVLHLDzbQavec4xfSdt.jpg,862
3,17,Slinky Dog (voice),52fe4284c3a36847f8024fa1,2,12899,Jim Varney,3,/eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg,862
4,18,Rex (voice),52fe4284c3a36847f8024fa5,2,12900,Wallace Shawn,4,/oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg,862